/*
* Base
*/
section.me {
  margin-top: 5em;
  margin-bottom: 1em
}


hgroup.me {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0,0,0, .2);

  h1 {
    font-size: 60px;
    line-height: 65px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
    color: #428bca;
  }
}
/*
 * Components
 */
.me {
  &.face {
    width: 250px;
    height: 250px;
    background-size: 250px 250px;
    margin-top: 10px;
  }
  &.nav-circle {
    margin-top: 2em;
    text-align: center;
    a {
      transition: all .3s linear;
      &:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}
